[Desktop Entry]
Comment[en_US]=
Comment=
Exec=echo 1 | sudo tee /sys/bus/usb/drivers/xone-dongle/*/pairing
GenericName[en_US]=
GenericName=
Icon=preferences-desktop-gaming
MimeType=
Name[en_US]=Enable Pairing Mode
Name=Enable Pairing Mode
Path=
StartupNotify=false
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=